<!--<h4>Table of contents</h4>-->
<a href="{{ '/index.html' | prepend: site.baseurl | prepend: site.url }}">About</a><br>
<a href="{{ '/getting-started.html' | prepend: site.baseurl | prepend: site.url }}">Getting started</a><br>
<a href="{{ '/build-instructions.html' | prepend: site.baseurl | prepend: site.url }}">Build instructions</a><br>
<a href="{{ '/known-issues.html' | prepend: site.baseurl | prepend: site.url }}">Known issues</a><br>
<a href="{{ '/showcase.html' | prepend: site.baseurl | prepend: site.url }}">Showcase</a>
