<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>steamworks4j by code-disaster</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>steamworks4j</h1>
        <p>A thin Java wrapper for the Steamworks C++ API.</p>

        <p>{% include table-of-content.html %}</p>

        <p><br></p>
        <!--<h4>Links</h4>-->

        <p class="view"><a href="https://github.com/code-disaster/steamworks4j">View the Project on GitHub <small>code-disaster/steamworks4j</small></a></p>

        <ul>
          <li><a href="https://github.com/code-disaster/steamworks4j/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/code-disaster/steamworks4j/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/code-disaster/steamworks4j">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/code-disaster">code-disaster</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
